* {
    padding: 5px;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Roboto";
    background-color: black;
}

.mainContainer {
    width: 400px;
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.floatLeft {
    display: flex;
}

.miniBox {
    font-size: 12px;
}

